<!doctype html>
<html lang="en-US">
  <head>
    <title>Recipe Book</title>
  </head>
  <body>
    <header style="display: flex; flex-direction: row; align-items: center; column-gap: 1rem;">
      <h1>Recipe Book</h1>
      {% if request.user.is_authenticated %}
      <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Logout</button>
      </form>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
